* {
    margin: 0;
    padding: 0;
}

body {
    display: flex;
    flex-direction: column;
}

.header {
    position: sticky;
    top: 10px;
    z-index: 1;
    transition-timing-function: ease-in;
    transition: all 0.5s;
}

.header_container {
    display: flex;
    align-items: center;
    height: 90px;
    justify-content: space-around;
}

img {
    height: 80px;
    width: 200px;
}

.nav_container,
.list {
    display: flex;
    align-items: center;

}

.list {
    margin-right: 40px;
}

.list>li {
    list-style-type: none;
    margin-right: 20px;
}

.signInBtn {
    padding: 10px 16px;
    border-radius: 17px;
    background-color: white;
    border-color: rgb(3, 3, 87);
    cursor: pointer;
}

.hero_container {
    width: 100%;
    height: 400px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    margin: auto;
}

.hero_image {
    width: 40%;
    height: 250px;
}

.hero_body {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;
    height: 40%;


}

.appBtn {
    padding: 12px 50px;
    border: none;
    border-radius: 18px;
    outline: none;
    background-color: rgb(3, 3, 87);
    color: whitesmoke;
    margin-top: 30px;
    cursor: pointer;
}

.hero_para1 {
    font-size: 30px;
    color: rgb(3, 3, 87);
    margin-bottom: 20px;
}

.hero_para2 {
    color: rgb(31, 78, 160);
}

.department,
.about,
.doctors,.appointment,.recent {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
}

.depart_1,
.about_title {
    color: rgb(3, 3, 87);
    margin-bottom: 20px;
}

.dept_info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: lightgreen;
    width: 76%;
    height: 350px;
    margin: auto;
    margin-bottom: 30px;
}

.dept_view {
    height: 200px;
    width: 400px;
    border-radius: 20px;
    position: relative;
}

.dept_image {
    border: 1px solid;
    border-radius: 20px;

}

.dept_detail>h3,
.dept_detail>p {
    margin-bottom: 15px;
}


.dept_detail>button {
    padding: 12px 24px;
    border-radius: 18px;
    border: none;
    outline: none;
    cursor: pointer;
}

.about_info {
    display: flex;
    align-items: center;
    justify-content: space-around;
    width: 76%;
    height: 350px;
    margin: auto;
    margin-bottom: 30px;
}

.about_detail {
    display: flex;
    flex-direction: column;
}

.about_info>img {
    height: 280px;
    width: 280px;
    border-radius: 140px;
}

.about_detail>h3,
.about_detail>p {
    margin-bottom: 20px;
}

.aboutBtn {
    padding: 10px 20px;
    border: 1px solid;
    width: 90px;
    text-align: center;
    border-radius: 20px;
    cursor: pointer;
}

.slideshow-container {
    display: flex;
    align-items: center;
}

.mySlides {
    margin-right: 10px;
    width: 220px;
    height: 260px;
    background-color: skyblue;
    border-radius: 16px;
}

.mySlides>img {
    width: 80px;
    height: 80px;
    border-radius: 40px;
}



.slideshow-container {
    max-width: 1000px;
    position: relative;
    margin: auto;
  }
  
  /* Hide the images by default */
  /* .mySlides,.Containers {
    display: none;
  } */
  
  /* Next & previous buttons */
  .prev, .next {
    cursor: pointer;
    position: absolute;
    top: 50%;
    width: auto;
    margin-top: -22px;
    padding: 16px;
    color: white;
    font-weight: bold;
    font-size: 18px;
    transition: 0.6s ease;
    border-radius: 0 3px 3px 0;
    user-select: none;
  }
  
  /* Position the "next button" to the right */
  .next {
    right: 0;
    border-radius: 3px 0 0 3px;
  }
  
  /* On hover, add a black background color with a little bit see-through */
  .prev:hover, .next:hover {
    background-color: rgba(0,0,0,0.8);
  }




@media (max-width: 767px) {
    .carousel-inner .carousel-item>div {
        display: none;
    }

    .carousel-inner .carousel-item>div:first-child {
        display: block;
    }
}

.carousel-inner .carousel-item.active,
.carousel-inner .carousel-item-next,
.carousel-inner .carousel-item-prev {
    display: flex;
}

/* medium and up screens */
@media (min-width: 768px) {

    .carousel-inner .carousel-item-end.active,
    .carousel-inner .carousel-item-next {
        transform: translateX(25%);
    }

    .carousel-inner .carousel-item-start.active,
    .carousel-inner .carousel-item-prev {
        transform: translateX(-25%);
    }
}

.carousel-inner .carousel-item-end,
.carousel-inner .carousel-item-start {
    transform: translateX(0);
}
.app_info{
    display: flex;
    align-items:center ;
    justify-content: space-evenly;
    width:76%;

}
.app_form1>input{
    
    border-radius: 10px;
    padding: 7px 15px;
    margin:5px;

}
.app_form1>input:focus,.app_msg:focus{
    outline-color: rgb(3, 3, 87);
    background-color:lightgray;

}
.app_msg{
    border-radius: 10px;
    padding: 7px 15px;
    margin:5px;
    width:100%;
    height:100px;


}
.app_btn {
    padding: 08px 50px;
    border: none;
    border-radius: 18px;
    outline: none;
    background-color: rgb(3, 3, 87);
    color: whitesmoke;
    margin: 8px 0px;
    cursor: pointer;
    width: 100%;
}
footer{
    width:100%;
}
.footer_1{
    width:100%;
    background-color: rgb(3, 3, 87) ;
    display: flex;
    justify-content: space-around;
    align-items: center;
    padding-bottom: 25px;

}
.footer_11{
     color:white;
     margin: none;
     border:none;

}
.footer_11>p{
    font-size:x-small;
}
.footer_12{

    
    display: flex;
    flex-direction: column;

}
.footer_12>h4{
color: rgb(11, 160, 160);
font-style: normal;


}
.footer_2{
    background-color:#1B71A1;
display:flex;
justify-content: space-around;
color: white;
padding:60px ;

}
.footer_3{
    display :flex;
    margin :none;
    padding:10px 10px;
    justify-content: space-around;
    background-color:rgb(3, 3, 87);

    

}
.footer_3>h6{
     color: white;
}
.footer_btn{
    background-color: white;
     color:#1B71A1;
     border-radius: 12px ;
     padding :08px 40px;
    width:15%;
    height: 10%;
    bottom:0;
    margin-top:35px ;
}
.footer_12>input{
    border-color: white;
    background-color:rgb(3, 3, 87) ;
    border-radius: 12px;
    width: 100%;
    padding : 04px 08px;

}
.footer_22{
    display: flex;
    flex-direction: column;
}
.main_carousel {
    background: #EEE;
  }
  
  .carousel-cell {
    width: 28%;
    height: 200px;
    margin-right: 10px;
    background: #8C8;
    border-radius: 5px;
    counter-increment: carousel-cell; 
  }
  
  .carousel-cell.is-selected {
    background: #ED2;
  }
  
  /* cell number */
  .carousel-cell:before {
    display: block;
    text-align: center;
    content: counter(carousel-cell);
    line-height: 200px;
    font-size: 80px;
    color: white;
  }
  .doctors{
    background-color: #ED2;
  }
  .blog_post{
    display: flex;
    align-items: center;
    width:70%;
    justify-content: space-evenly;
    margin :30px auto;
    
  

  } 
  .post_1{
     display: flex;
     flex-direction: column;
     align-items: flex-start;
     word-wrap: break-word;
     width:220px;
     height:300px;
     margin-bottom: 20px;
     background-color: white;
     border-radius: 14px;
     box-shadow: -1px 4px 15px 0px rgba(0,0,0,0.6);
    -webkit-box-shadow: -1px 4px 15px 0px rgba(0,0,0,0.6);
    -moz-box-shadow: -1px 4px 15px 0px rgba(0,0,0,0.6);
  }
.post_1>img{
    width:100%;
    height: 70%;
    border-radius: 14px;

}  
.post_info{ 
    padding:10px;

}
.head,.head1{
    color:rgb(169, 156, 156);

}
.head1:hover{
    color:rgb(3, 3, 87);
    cursor: pointer;
    

    
}
